*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 2rem 0 2rem 0;
}

.section-container {
    height: 100vh;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#MenuBarre{
    position: sticky;
    top: 0;
    background-color: coral;
    padding:20px;
    border-bottom: 5px solid #b84315;
}

#calendar {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fc-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.fc-body {
    padding: 20px;
}

.fc-event {
    border-radius: 5px;
    padding: 5px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}

.fc-event:hover {
    background-color: #23527c;
}

.fc-axis {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.fc-day-header {
    background-color: #1E90FF;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.fc-day {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.fc-today {
    background-color: #1E90FF;
}

.fc-button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.header-menu {
    background-color: #007bff;
    padding: 10px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.header-menu img {
    width: 40px; 
    height: auto;
    margin-right: 10px;
}

h3 {
   
    font-size: 24px; 
    font-weight: bold; 
    color: #000000; 
    text-align: center;
    padding: 10px;
   
}

.button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px; 
}

.menu_calendar{
    text-align: center;
}

#MenuBarre{
    position: sticky;
    top: 0;
    background-color: coral;
    padding:20px;
    border-bottom: 5px solid #b84315;
}

#Admin{
    position: fixed;
    top: 0;
    background-color: #711200;
    padding:20px;
    border-bottom: 5px solid #550f00;
}